<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flores.nico.wallet" >

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="wallet.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.flores.nico" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ViewCategoryActivity"
            android:label="@string/title_activity_view_category"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flores.nico.wallet.HomeActivity" />
        </activity>
        <activity
            android:name=".EditCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:parentActivityName=".ViewCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flores.nico.wallet.ViewCategory" />
        </activity>
        <activity
            android:name=".ViewMovementActivity"
            android:label="@string/title_activity_view_movement"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flores.nico.wallet.HomeActivity" />
        </activity>
    </application>

</manifest>
